@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-family: "Moderustic", sans-serif;
}

.swiper-pagination-bullet {
  background-color: #7e22ce !important;
}
.swiper-pagination {
  width: fit-content !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  bottom: 0 !important;
  left: 0 !important;
}

.Toastify__toast {
  background-color: #7e22ce !important;
  color: #ffffff !important;
}
.Toastify__progress-bar {
  background-color: white !important;
}
